#Homework 1#

In [1]:
#Imports
import pandas as pd
import numpy as np

**Q1. Pandas version** <br>
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.3.2'

In [ ]:
#Import data to local folder
#wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

**Q2. Records count** <br>
How many records are in the dataset?<br>

4704<br>
8704<br>
9704<br>
17704<br>

In [3]:
data = pd.read_csv('car_fuel_efficiency.csv')

print(data.shape)

(9704, 11)

In [10]:
print(data.head(3))

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341

In [4]:
print(data['origin'].value_counts())

origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64

**Q3. Fuel types** <br>
How many fuel types are presented in the dataset?<br>

1<br>
2<br>
3<br>
4<br>

In [5]:
print(data['fuel_type'].value_counts())

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [6]:
data.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

**Q4. Missing values** <br>
How many columns in the dataset have missing values?<br>

0<br>
1<br>
2<br>
3<br>
4<br>

In [7]:
data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

**Q5. Max fuel efficiency** <br>
What's the maximum fuel efficiency of cars from Asia?<br>

13.75<br>
23.75<br>
33.75<br>
43.75<br>

In [8]:
data1 = data[data['origin']=='Asia']
data1['fuel_efficiency_mpg'].max()
#print(data1.shape())

np.float64(23.759122836520497)

**Q6. Median value of horsepower**

Find the median value of horsepower column in the dataset.<br>
Next, calculate the most frequent value of the same horsepower column.<br>
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.<br>
Now, calculate the median value of horsepower once again.<br>

Has it changed?<br>

Yes, it increased <br>
Yes, it decreased <br>
No

In [ ]:
mdn = data['horsepower'].median()
print("Median Value: ", mdn)

mfv = data['horsepower'].mode()[0]
print("Most Frequent Value: ", mfv)

data['horsepower']=data['horsepower'].fillna(mfv)

mdn1 = data['horsepower'].median()
print("New Median Value: ", mdn1)

Median Value:  149.0
Most Frequent Value:  152.0
New Median Value:  152.0

**Q7. Sum of weights**
1. Select all the cars from Asia<br>
2. Select only columns vehicle_weight and model_year<br>
3. Select the first 7 values<br>
4. Get the underlying NumPy array. Let's call it X.<br>
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.<br>
6. Invert XTX.<br>
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].<br>
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.<br>
9. What's the sum of all the elements of the result?<br>

In [37]:
data['origin'].values

array(['Europe', 'USA', 'Europe', ..., 'USA', 'USA', 'Asia'],
      shape=(9704,), dtype=object)

In [39]:
# Q1 to Q3
data_asia = data.loc[(data['origin']=='Asia',['vehicle_weight','model_year'])].head(7)
print(data_asia)

# Q4
X = data_asia.to_numpy()
print("X: ", X)
# Another way to get numpy array is data_asia.values
print('numoy array', data_asia.values)
# Q5
XTX = X.T @ X
print(XTX)

# Q6
XTX=np.linalg.inv(XTX)
print(XTX)

# Q7
Y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(Y)

# Q8
W = (XTX @ X.T) @ Y
print(W)

# Q9
wsum = W.sum()
print("W Sum: ", wsum)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019
X:  [[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
numoy array [[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]
[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]
[1100 1300  800  900 1000 1100 1200]
[0.01386421 0.5049067 ]
W Sum:  0.5187709081074016

In [36]:
data.index

RangeIndex(start=0, stop=9704, step=1)